<div data-role="header" data-position="fixed">
    <a href="#/user.html" data-icon="carat-l">返回</a>
    <h1 class="ui-title">账户管理</h1>
</div><!-- /header -->

<div class="user-menus">
    <ul data-role="listview" data-icon="carat-r">
        <li><a href="#/user/order/1.html">头像 <span class="ui-li-count">12</span></a></li>
        <li><a href="#">用户名 <span class="ui-li-count">wuweiit</span></a></a></li>
        <li><a href="#">昵称 <span class="ui-li-count">张三</span></a></a></li>
        <li><a href="#">性别 <span class="ui-li-count">男</span></a></a></li>
        <li><a href="#">出生日期 <span class="ui-li-count">2014-01-10</span></a></a></li>
    </ul>
</div>





