body{
    font-size: 16px;
}
.ui-title{
    font-size: 1em;
}

.ui-btn:focus{
    box-shadow: none !important;
}
.ui-tabs{
    padding: 0;
}

.content{
    margin-top: 1em;
}

.my-page{
    margin-bottom: 60px;
}