<div data-role="page" class="ui-page-active">

    <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <a href=" " data-icon="carat-l" >返回</a>
        <h1 class="ui-title">我的订单</h1>
        <a href="index.html" data-icon="gear" class="ui-btn-right">设置</a>
    </div><!-- /header -->
    <div class="user-order-list">
        <ul data-role="listview">
            <li>

                <div class="order-menu">
                    <a class="o-store" href=""> 绿海园艺店 <i class="fa fa-check"></i></a>
                    <div class="o-operate">
                        <span class="o-status">状态</span>
                        <a href="" class="o-delete"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <a>
                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3856634530,586321668&fm=80">
                    <p>Broken Bells dsadsadsad sadas dsa dsa dsa dsa das dsa dsa dsa dsa dsa dsa dsa d</p>
                </a>
                <div class="order-info">
                    共1件商品 实付款:$ 432.00
                </div>

            </li>
            <li><a href="#">优惠券</a></li>
        </ul>
    </div>
</div>




