<div data-role="header" data-position="fixed">
    <h1 class="ui-title">我的账户</h1>
</div><!-- /header -->

<div class="user-header" ng-click="gotoUserInfo()">
    <div class="user-icon">
        <img src="images/demo/album-hc.jpg" />
    </div>
    <div class="user-name">
        <span>wuweiit</span>
    </div>


</div>
<div class="user-order">
    <div class="ui-grid-d">
        <div class="ui-block-a">
            <a class="user-order-item">
                <label>待付款</label>
                <span>1</span>
            </a>
        </div>
        <div class="ui-block-b">
            <a class="user-order-item">
                <label>待发货</label>
                <span>0</span>
            </a>
        </div>
        <div class="ui-block-c">
            <a class="user-order-item">
                <label>待收货</label>
                <span>0</span>
            </a>
        </div>
        <div class="ui-block-d">
            <a class="user-order-item">
                <label>待评价</label>
                <span>0</span>
            </a>
        </div>

        <div class="ui-block-d">
            <a class="user-order-item">
                <label>退款</label>
                <span>1</span>
            </a>
        </div>
    </div><!-- /grid-b -->

</div>
<div class="user-menus">
    <ul data-role="listview" data-icon="carat-r">
        <li><a href="#/user/order/1.html">我的订单</a></li>
        <li><a href="#">优惠券</a></li>
        <li><a href="#">我的收藏</a></li>
        <li><a href="#">账号绑定</a></li>
        <li><a href="#">我的积分</a></li>
    </ul>
</div>





